body{
    background-color: rgba(255,255,0,0.5);
}
h1{
    text-decoration: underline;
    text-align: center;
    font-size: 1cm;
    color: goldenrod;
}
.mcv{
    text-align: center;
}
span{
    color: #ff0000;
    font-weight: bold;
}
.first p{
    color: rgba(123, 23, 0, 0.5);
}
a{
    color: rgba(99, 0, 27, 0.87)
}
img{
    width: 300px;
    height: 300px;
}
.logo{
    width: 100px;
    height: 100px;
}
#flogo{
    width: 100px;
    height: 100px;
}
